.footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-white;
  max-width: 1464px;
  width: 100%;
  min-height: 655px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-color;
  &-container {
    max-width: 1264px;
    width: 100%;
    min-height: 415px;
    border-bottom: 1px solid #eceef5;
    display: flex;
    justify-content: space-between;

    h2 {
      margin-bottom: 20px;
      font-weight: 600;
    }
    p {
      font-weight: 500;
      font-size: 20px;
    }
    li {
      font-weight: 500;
      font-size: 20px;
      &:hover {
        color: $light-text-blue;
      }
    }
    a {
      padding-bottom: 10px;
      padding-top: 10px;
      &:focus,
      &:active {
        color: $light-text-blue;
      }
    }

    &-1 {
    }
    &-2 {
      li:nth-child(2) {
        color: $light-text-blue;
      }
    }
    &-3 {
    }
    &-4 {
      display: flex;
      flex-direction: column;
      p {
        font-size: 20px;
        max-width: 424px;
        line-height: 31px;
        margin-bottom: 40px;
      }
      &-input-container {
        margin-bottom: 20px;
        position: relative;
        img {
          position: absolute;
          top: 16px;
          left: 10px;
        }
        input[type="email"] {
          max-width: 364px;
          width: 100%;
          min-height: 64px;
          border-radius: 5px;
          background-color: $background-white;
          outline-color: #ccc;
          padding-left: 60px;
          border: 2px solid #e9ebf3;
        }
      }
      button {
        background: linear-gradient(136.19deg, #8bcdff 0%, #6487ff 98.01%, #6888f3 98.01%);
        max-width: 367px;
        width: 100%;
        min-height: 68px;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        outline: none;
        border-radius: 5px;
        box-shadow: 0px 24px 30px -18px rgba(108, 157, 243, 0.598039);
        &:hover {
          background: linear-gradient(136.19deg, #6888f3 0, #8bcdff 90.01%);
        }
      }
    }
  }
  &-alt {
    max-width: 1264px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $gray-color;
    margin-top: 40px;
  }
}
