.feed-settings {
  margin-top: 30px;
  max-width: 362px;
  min-height: 216px;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 35px;
  &-1 {
    margin-top: 33px;
    margin-bottom: 20px;
  }
}
